header {
  height: var(--header-height);
  background-color: var(--header-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 0.5rem;
  .container {
    height: var(--header-height);
    // Left Section (Logo and Search Bar)
    .header_left_section {
      .logo {
        color: var(--header-facebook-icon-color);
        font-size: var(--header-facebook-icon-font-size);
      }
      .search_bar {
        position: relative;
        span.icon {
          position: absolute;
          left: 7px;
          top: 7px;
          i,
          svg {
            font-size: 16px;
            color: var(--header-search-icon-color);
            font-weight: 700;
          }
          /* Console Devices */
          /* Mobil S, Less Than 320px */
          @media screen and (max-width: 320px) {
            left: 10px;
          }
          /* Mobil M, Less Than 375px */
          @media screen and (min-width: 321px) and (max-width: 375px) {
            left: 10px;
          }
          /* Mobil L, Less Than 425px */
          @media screen and (min-width: 376px) and (max-width: 425px) {
            left: 10px;
          }
        }
        input {
          background-color: var(--header-search-input-color);
          padding-left: 2rem;
          color: var(--header-search-input-text-color);
          &::placeholder {
            color: var(--header-search-input-placeholder-color);
            // font-weight: 500;
            font-size: 15px;
          }
          /* Console Devices */
          /* Mobil S, Less Than 320px */
          @media screen and (max-width: 320px) {
            width: 35px;
          }
          /* Mobil M, Less Than 375px */
          @media screen and (min-width: 321px) and (max-width: 375px) {
            width: 35px;
          }
          /* Mobil L, Less Than 425px */
          @media screen and (min-width: 376px) and (max-width: 425px) {
            width: 35px;
          }
          /* Tablet , Less Than 768px */
          @media screen and (min-width: 426px) and (max-width: 768px) {
            width: 35px;
          }
          /* Laptop , Less Than 1024px */
          @media screen and (min-width: 769px) and (max-width: 1024px) {
          }
          /* Laptop L, Less Than 1440px */
          @media screen and (min-width: 1025px) and (max-width: 1440px) {
          }
          /* 4K , Less Than 2560px */
          @media screen and (min-width: 1441px) and (max-width: 2560px) {
          }
        }
      }
    }
    .toggle_header_left_section {
      // border: 0.5rem solid #f00;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      margin: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      &:hover {
        background-color: var(--header_center_section_link_home_hover_bg);
      }
      /* Console Devices */
      /* Mobil S, Less Than 320px */
      @media screen and (max-width: 320px) {
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        left: -25px;
        display: none;
      }
      /* Mobil M, Less Than 375px */
      @media screen and (min-width: 321px) and (max-width: 375px) {
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        left: -40px;
      }
      /* Mobil L, Less Than 425px */
      @media screen and (min-width: 376px) and (max-width: 425px) {
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        left: -60px;
      }
      /* Tablet , Less Than 768px */
      @media screen and (min-width: 426px) and (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        left: -10px;
      }
      /* Laptop , Less Than 1024px */
      @media screen and (min-width: 769px) and (max-width: 1024px) {
      }
      /* Laptop L, Less Than 1440px */
      @media screen and (min-width: 1025px) and (max-width: 1440px) {
      }
      /* 4K , Less Than 2560px */
      @media screen and (min-width: 1441px) and (max-width: 2560px) {
      }
    }
    // Center Section (Navigation Icons)
    .header_center_section {
      height: var(--header-height);
      /* Console Devices */
      /* Mobil S, Less Than 320px */
      @media screen and (max-width: 320px) {
        position: fixed;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
      }
      /* Mobil M, Less Than 375px */
      @media screen and (min-width: 321px) and (max-width: 375px) {
        position: fixed;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
      }
      /* Mobil L, Less Than 425px */
      @media screen and (min-width: 376px) and (max-width: 425px) {
        position: fixed;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
      }
      /* Tablet , Less Than 768px */
      @media screen and (min-width: 426px) and (max-width: 768px) {
      }
      /* Laptop , Less Than 1024px */
      @media screen and (min-width: 769px) and (max-width: 1024px) {
      }
      /* Laptop L, Less Than 1440px */
      @media screen and (min-width: 1025px) and (max-width: 1440px) {
      }
      /* 4K , Less Than 2560px */
      @media screen and (min-width: 1441px) and (max-width: 2560px) {
      }
      .header_center_section_link_home,
      .header_center_section_link_friends,
      .header_center_section_link_videos,
      .header_center_section_link_marketplace,
      .header_center_section_link_groups {
        height: 100%;
        border-bottom: 4px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: var(--header_center_section_link_home_hover_bg);
          border-radius: 5px;
        }
        span {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            height: var(--header-center-section-icon-size);
            width: var(--header-center-section-icon-size);
            color: var(--header_center_section_link_home_color);
          }
        }
      }
      .header_center_section_link_home {
        span {
          svg {
            color: var(--header_center_section_link_home_active_color);
          }
        }
        border-bottom: 3px solid var(--header_center_section_link_home_active_color);
      }
    }
    //
    .header_right_section {
      .header_right_section_link {
        border-radius: 50%;
        padding: 10px;
        background-color: #f0f2f5;
        .header_right_section_link_span {
          .header_right_section_link_svg {
            height: var(--header-center-section-icon-size);
            width: var(--header-center-section-icon-size);
          }
        }
      }
    }
  }
}
